/* Browser Reset */
:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    --dark-blue: hsl(212, 21%, 14%);
    --grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}



* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cream);
    display:grid;
    grid:
        "product-card" .7fr
        "footer"    .1fr
        / .92fr;
    place-content: center;
    min-height: 100vh;

}

main {
    grid-area: product-card;
    border-radius: 5rem;
    display: grid;
    grid:
        "product-image" .7fr
        "product-info" .5fr
        / 1fr;
    place-content: center;
    margin: auto 0;

}


.product-image {
    grid-area: product-image;
    max-width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
}

.product-info {
    padding: 1.2em;
    grid-area: product-info;
    background-color: var(--white);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 0rem 0rem 1rem 1rem;

}

.item {
    padding: 0;
}

h1 {
    font-family: 'Fraunces', serif;
    font-size:2rem;
    font-weight: 700;
    padding: .6rem 0;
    line-height: 2rem;
}

p {
    font-size: 0.875rem;
    color: var(--grayish-blue);
    font-weight: 400;
    padding: .5rem 0;
    line-height: 1.4rem;
}

.prices {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 0;
}

.price {
    color: var(--dark-cyan);
    font-family: 'Fraunces', serif;
    font-size:2rem;
    font-weight: 700;
}

.old-price {
    text-decoration: line-through;
}

.attribution { 
    font-size: 11px; text-align: center;
    grid-area: footer;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
button {
    background-color: var(--dark-cyan);
    border: none;
    height: 3rem;
    width:18.5rem;
    color: var(--white);
    border-radius: .5rem;
    align-self: center;

    

}