/* Browser Reset */
:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    --dark-blue: hsl(212, 21%, 14%);
    --grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cream);
    display:grid;
    grid:
        "product-card"
        "footer"    
        / .9fr;
    place-content: center;
    place-items: center;
    height: 100vh;
}

main {
    grid-area: product-card;
    display: grid;
    grid:
        "product-image"
        "product-info"
        / 1fr;
    place-content: center;
}

div {
    height: 16rem;
}

.product-image {
    background-image: url("images/image-product-mobile.jpg");
    grid-area: product-image;
    border-radius: 1rem 1rem 0rem 0rem;
    background-position: center;
    background-size: cover;
}

.product-info {
    padding: 1.2rem;
    grid-area: product-info;
    background-color: var(--white);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 0rem 0rem 1rem 1rem;
}

.item {
    padding: 0;
}

h1 {
    font-family: 'Fraunces', serif;
    font-size:2rem;
    font-weight: 700;
    padding: .6rem 0;
    line-height: 2rem;
}

p {
    font-size: 0.875rem;
    color: var(--grayish-blue);
    font-weight: 400;
    padding: .5rem 0;
    line-height: 1.4rem;
}

.prices {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 0;
}

.price {
    color: var(--dark-cyan);
    font-family: 'Fraunces', serif;
    font-size:2rem;
    font-weight: 700;
}

.old-price {
    text-decoration: line-through;
}

.attribution { 
    font-size: 11px; text-align: center;
    grid-area: footer;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

button {
    background-color: var(--dark-cyan);
    border: none;
    height: 3rem;
    width:18.5rem;
    color: var(--white);
    border-radius: .5rem;
    align-self: center;
}

@media only screen and (min-width: 550px) {
    
    
    main {
        grid:
            "product-image product-info" .9fr
            / 1fr 1fr;
        width: 37.5rem;
        height: 31rem;
    }

    .product-image {
        background-image: url("images/image-product-desktop.jpg");
        height: 100%;
        border-radius: 1rem 0rem 0rem 1rem;
    }

    .product-info {
        padding: 2rem;
        border-radius: 0rem 1rem 1rem 0rem;
    }

    p {
        padding: 1.2rem 0;
    }

    button {
        width:14.75rem;
    }

}